---
import clsx from 'clsx';

interface Props {
  class?: string;
  href: string;
}

const { href, class: className } = Astro.props;
const isExternalLink = href[0] !== '/';
---

<a
  href={href}
  class={className ?? 'inline-flex items-center gap-1'}
  {...isExternalLink
    ? {
        rel: 'noopener noreferrer',
        target: '_blank',
      }
    : {}}
>
  <slot />
</a>
